<article class="feed">
  <ul class="feed__container">
    <ng-container *ngFor="let post of feedPosts let i = index;" style="background-color: #ebedf0;">

      <li class="post">


        <div class="post__container">
          <div style="display: flex;">
            <div class="post__avatar">
              <img [src]="post.authorName" alt="" (error)="onErrorImageUrl($event.target,post.authorName)" />
            </div>
            <div class="info" style="display: grid;">

              <span class="username">@{{ post.authorName }}</span>

              <span class="date-time">{{ post.createdAt | customDate }}</span>
            </div>
          </div>

          <div class="post" [innerHTML]="post.content"></div>
          <hr>
          <div>

            <div class="post-info">
              <div class="post-info__interactions">
                <i class="btn btn--like">
                  <fa-icon [icon]="faHeart" size="sm"> </fa-icon>
                </i>

              </div>
              <div>{{post.likes}}</div>
              <div class="post-info__comments"> {{post.comments}}</div>

              <div class="post-info__interactions">

                <i class="btn btn--retweets">
                  <fa-icon [icon]="faRetweet" size="sm"></fa-icon>
                </i>

              </div>

            </div>

            <hr>

            <h5 class="postId ng-hide" [innerHTML]="post.id" #postId style="display:none"></h5>

          </div>

          <div class="actions">
            <button class="actions__btn actions__btn--like">
              <fa-icon [icon]="faHeart" size="sm"></fa-icon>
              <span class="btn__text" (click)="increaseLike(post.id)"> Like</span>
            </button>

            <button class="actions__btn actions__btn--comment" (click)="toggleComment(i,post.id)">
              <fa-icon [icon]="faComment" size="sm"></fa-icon>
              <span class="btn__text">Comment</span>
            </button>
            <button class="actions__btn actions__btn--share">
              <fa-icon [icon]="faShare" size="sm"></fa-icon>
            </button>
          </div>
          <div [hidden]="isHidden[i]">
            <hr style="background-color: aliceblue; border-radius: 2%;">
            <div style="display: grid;">

              <div class="comment-input">
                <div class="custom-input"  #textContainer  [id]="'textContainer' + i">

                  <div class="custom-input-textarea" contenteditable="true" [ngClass]="{ active: textArea.length }"
                    (input)="textInputHandler($event)"  [id]="'textInput' + i" #textInput></div>
                </div>
                <div style="display: flex;">
                  <div class="feedpost__post-form-buttons">
                    <button class="btn btn--picture" (click)="imageInput.click()">
                      <fa-icon [icon]="faPicture" size="lg"></fa-icon>
                      <span class="btn__text"> Picture </span>
                    </button>

                  </div>

                  <input type="file" (change)="handleFileInput($event)" value="Select file" #fileInput
                    class="file-input">
                  <div class="file-preview"></div>

                  <!-- <button class="btn btn--tweet" (click)="handleComment(post.id,post.authorUid)" style=" margin-left: auto; ">
                    <span class="btn__text">Comment</span>
                  </button> -->

                </div>
              </div>




              <ng-container *ngFor="let comment  of commentList.get(post.id) | async">
                <div class="comments">
                  <div style="display: inline-block;">
                    <span style="font-size: xx-small; margin-bottom: 3%; "> @{{comment.author.name}}</span>
                    <span class="time_date" style="font-size: xx-small; margin-top: 3%; float: right;">{{
                      comment.createdAt | date:'shortTime' }} {{ comment.createdAt | date:'mediumDate' }}
                    </span>
                  </div>
                  <div style="margin-left: 10px;" [innerHTML]="comment.content"> </div>
                </div>
              </ng-container>

              <input #imageInput class="image-upload" type="file" accept="image/*" [hidden]="true"
                (change)="handleImageUpload(imageInput)" />
            </div>


          </div>




        </div>
      </li>



    </ng-container>





  </ul>
</article>